* {
  margin: 0;
  padding: 0;
}

body{
  position: relative;
  height: 100vh;
  background-color: #81613b;
  
  display: grid;
  grid: "sidebar header" 1fr 
        "sidebar books" 5fr/
        1fr 4fr;
}

.form{
  text-align: center;
  background-color: #c2c8c6;
  /*
  lightest #c2c8c6
  middle #3f4e4f
  darkest #2c3639
  */
  height: 60%;
  width: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-radius: 10%;
  padding: 10%;
  box-sizing: border-box;
}

li {
  list-style: none;
}

/* .hide{
  display:none;
} */

.header{
  grid-area: header;
  background-color: #bdac86;
  position: sticky;
}
.header-title{
  color: #421220;
  font-size: 10vh;
  text-align: center;
  font-weight: 700;
}

.sidebar{
  grid-area: sidebar;
  background-color: #271d20;
  display: grid;
  grid-auto-rows: 10vh;
  gap: 10px;
}

.menu{
  color: #bdac86;
  font-size: 7vh;
  text-align: center;
}

.add-book{
  display: grid;
  place-items: center;
}

input[type='button']{
  font-size: 2vh;
  font-weight: 700;
  background-color: #bdac86;
  color: #421220;
  height: 7vh;
  width: 12vh;
  border-radius: 2vh;
}

.books {
  padding: 50px;
  background-image: url('img/bookshelf.jpeg');
  grid-area: books;
  overflow-y: scroll;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
}

.book-card{
  height: 300px;
  border: 5px solid black;
  display: grid;
  grid: "title title" 4fr
        "author author" 1fr
        "read pages" 1fr
        / 1fr 1fr;
  place-content: center;
  place-items: center;
  position: relative;
}

.book-card img {
  height: 50px;
}

.hide{
  display: none;  
}

.book-card:hover .hide{
  display: block;
  position: absolute;
  top: -20px;
  right: -20px;
}

.book-card div{
  color: #f2e7e3;
  text-align: center;
}

.title{
  grid-area: title;
  font-size: 30px;
  overflow: hidden;
}

.author{
  grid-area: author;
  font-size: 20px;
}
.read{
  grid-area: read;
  font-size: 15px;
}
.pages{
  grid-area: pages;
  font-size: 15px;
}

.book-card:nth-child(5n+1){
  background-color: #012908;
}
.book-card:nth-child(5n+2){
  background-color: #ec8e00;
}
.book-card:nth-child(5n+3){
  background-color: #820100;
}
.book-card:nth-child(5n+4){
  background-color: #03285c;
}
.book-card:nth-child(5n+5){
  background-color: #3c1460;
}
